@page
@model ContosoUniversity.WebApplication.Pages.Noticias.DetailsModel

@{
    ViewData["Title"] = Model.Noticia.Title;
}
<div>
    <h2>@Html.DisplayFor(model => model.Noticia.Title)</h2>
    <span>@System.Net.WebUtility.HtmlDecode(Model.Noticia.Texto)</span>
    
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>